html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 90%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans', sans-serif;
  color: #3D3D3D;
  font-size: 1rem;
  line-height: 1.5;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 1.3;
}
h1,h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.75em;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
  font-size: 1rem;
  line-height: 1.5;
}

article.project {
  max-width: 618px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 14px 20px 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-1 {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

text {
  font-size: 12px;
}

.left {
  float:left;
  width: 200px;
  margin-right: 40px;
}

ul:before,
ul:after,
figure:before,
figure:after {
  display: table;
  content: " ";
}
figure.main-figure {
  width: 100%;
  min-height: 460px;
}

.button-group{
  cursor: pointer;
}

svg.map {

}
svg.map.overlay{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}
.state-boundary {
  fill: rgba(250,250,250,0);
  stroke: #FFF;
}
.state-boundary.overlay{
  stroke: none;
  cursor: pointer;
}

.hidden {
  display:none;
}
.map-popup-holder {
  position: absolute;
  z-index: 0;
}
.map-popup {
  position: absolute;
  background: rgba(250,250,250,0.9);
  border-radius: 2px;
  border: 1px solid rgb(29,145,145);
  padding: 6px 10px;
  width: 300px;
  height: 100px;
}
.map-popup .title {
  text-transform: uppercase;
  color: #666;
  font-size: 0.8rem;
}
.map-popup .ravg {
  bottom: 10px;
  right: 10px;
  padding: 25px 10px 7px;
  background-color: #888;
  color: #FFF;
  font-weight: 700;
  font-size: 1.5rem;
  float: right;
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
  width: 60px;
  position: absolute;
} 
.map-popup .ravg:before {
  content: "Average Rating";
  display: block;
  position: absolute;
  font-weight: 400;
  font-size: 0.5rem;
  text-transform: uppercase;
  top: 9px;
  width: 60px;
  line-height: 1;
  text-align: center;
}
.map-popup .arrow {
  position: absolute;
  width:0;
  height:0;
  bottom: -30px;
  left: 137px;
  border-top: 30px solid rgb(250,250,250);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: none;
}
.map-popup .arrow-bg {
  position: absolute;
  width:0;
  height:0;
  bottom: -32px;
  left: 136px;
  border-top: 32px solid rgb(29,145,145);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: none;
}
.map-popup .left-top {
  left: 10px;
  top: 6px;
  line-height: 1;
}
.map-popup .left-top span {
  display: inline-block;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1;
}
.map-popup .style{
  /*position: absolute;*/
  font-style: italic;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1;
  margin-top: 4px;
  /*top: 9px;*/
  /*right: 10px;*/
  color: #BB3030;
}
.map-popup .left-top span.count {
  color: #999;
  padding-left: 17px;
  position: relative;
}
.map-popup .left-top span.count:before {
  content: '\2022';
  position: absolute;
  left: -5px;
  padding-left: 10px;
}

.map-popup ul.beers {
  margin: 6px 0 0 0;
  padding: 0;
  overflow: hidden;
  height: 62px;
}
.map-popup li {
  font-size: 0.6rem;
  overflow: hidden;
  background-color: #F7F7F7;
  position: relative;
  width: 210px;
  line-height: 1;
}
.map-popup li div{
  display: block;
  position: absolute;
  /*width: 30px;*/
}
.map-popup li div.beer-name{
  position: relative;
  font-size: 0.6rem;
  color: #888;
  white-space: nowrap;
  left: 15px;
  /*width: 135px;*/
}
.map-popup li:after{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  content: "";
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(247,247,247,0)),color-stop(100%,rgba(247,247,247,1)));
  background-image: -webkit-linear-gradient(left,rgba(247,247,247,0),rgba(247,247,247,1));
  background-image: -moz-linear-gradient(left,rgba(247,247,247,0),rgba(247,247,247,1));
  background-image: -ms-linear-gradient(left,rgba(247,247,247,0),rgba(247,247,247,1));
  background-image: -o-linear-gradient(left,rgba(247,247,247,0),rgba(247,247,247,1));
  background: linear-gradient(to right,rgba(247,247,247,0),rgba(247,247,247,1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00f7f7f7',EndColorStr='#f7f7f7');

}

#map-vis {
  position:relative;
}

.beer-icon {
  fill: #FFD400;
  /*stroke: #888;*/
  /*stroke-width: 0.2px;*/
}
.scroll-background {
  stroke: #EEE;
  fill: none;
}

.main-axis path,
.curr-axis path {
  display: none;
}

.main-axis line {
  stroke: #DDD;
  shape-rendering: crispEdges;
}
.curr-axis line.first,
.curr-axis line.second {
  stroke: #000;
  shape-rendering: crispEdges;
}
.main-axis text {
  fill: #BBB;
}
.curr-axis text.first,
.curr-axis text.second {
  stroke: #000;
  shape-rendering: crispEdges;
}
.curr-axis polygon.first,
.curr-axis polygon.second {
  fill: #000;
}

/* this is the css for treeVis*/

#treeVis #chart, #header, #footer {
  position: relative;
  top: 0;
}

#treeVis #header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#treeVis #header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#treeVis #header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#treeVis #footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

#treeVis rect {
  fill: none;
  pointer-events: all;
}

#treeVis pre {
  font-size: 18px;
}

#treeVis line {
  stroke: #000;
  stroke-width: 1.5px;
}

#treeVis .string, .regexp {
  color: #f39;
}

#treeVis .keyword {
  color: #00c;
}

#treeVis .comment {
  color: #777;
  font-style: oblique;
}

#treeVis .number {
  color: #369;
}

#treeVis .class, .special {
  color: #1181B8;
}

#treeVis a:link, a:visited {
  color: #000;
  text-decoration: none;
}

#treeVis a:hover {
  color: #666;
}

  .hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}
  .d3-tip {
  z-index:3;
  line-height: 1;
  /*font-weight: bold;*/
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
  .d3-tip strong{
  
  color: #fff;
  
}
 .d3-tip span strong{
  color: red;
  
}
/* Creates a small triangle extender for the tooltip */
  .d3-tip:after strong{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
 .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
} 

#treeVis .chart {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 11px;
  font-weight: 500;

}


#treeVis rect {
  stroke: #000;
  fill: #aaa;
  fill-opacity: .8;
}

#treeVis rect.parent {
  cursor: pointer;

  fill: rgb(192,72,24);
}

#treeVis rect.parent + text {
  font-weight: 700;
  /*font-color: white;*/
  font-size: 30px;
}

#treeVis rect.parent1 {
  cursor: pointer;
  fill: rgb(202,104,42);

}

#treeVis rect.parent1 + text{
  font-weight: 500;
  font-size: 20px;
}

#treeVis rect.parent2 {
  cursor: pointer;
  fill: rgb(248, 242, 163);
}

#treeVis rect.parent2 + text{
  font-weight: 500;
  font-size: 14px;
}
#treeVis rect.parent3 {
  cursor: pointer;
  fill: rgb(232, 155, 42);
}

#treeVis text {
  pointer-events: none;
}

input[type="radio"] {
  position:relative;
  display: inline-block;
  margin: 9px;
  z-index:1;
}


