html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 90%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans', sans-serif;
  color: #3D3D3D;
  font-size: 1rem;
  line-height: 1.5;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: inherit;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 1.3;
}
h1,h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.75em;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
  font-size: 1rem;
  line-height: 1.5;
}

article.project {
  max-width: 618px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 14px 20px 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-1 {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

text {
  font-size: 12px;
}
ul {
  margin-bottom: 20px;
}
li {
  list-style-type: decimal;
  padding: 5px;
}
.left {
  float:left;
  width: 200px;
  margin-right: 40px;
}

ul:before,
ul:after,
figure:before,
figure:after {
  display: table;
  content: " ";
}
figure.main-figure {
  width: 100%;
  min-height: 460px;
}

.button-group{
  cursor: pointer;
}